.App {
  height: 100vh;
  margin: 0;  
  background: #fff;
  color: #5a6674;
  font-size: 0.79rem;
  font-family: 'Raleway', sans-serif;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.search-form {
  position: relative;
  left: 50%;
  width: 80%;
  height: 6%;
  border-radius: 8vh;
  box-shadow: 0.3rem 0.3rem 1.2rem rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%);
  background: #fff;
  transition: all 0.3s ease;
  border: none;
  display: flex;
  align-items: center;
}

.search-input {
  position: relative;
  left: 2.5em;
  font-size: 0.85rem;
  background: none;
  color: #5a6674;
  width: 85%;
  height: 55%;
  border: none;
  appearance: none;
  outline: none;
}
@media only screen and (min-width: 768px) {
  .search-input {
    left: 3em;
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 2560px) {
  .search-input {
    left: 3em;
    font-size: 3.5rem;
  }
}

.search-button {
  position: relative;
  left: 5%;
  height: 55%;
  width: 7%;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none!important;
  cursor: pointer;
}

.result {
  position: absolute;
  margin-top: 3rem;
  font-size: 1rem;
  top: 70%;
  border: none;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: #40798C;
  font-size: 2rem;
  font-weight: 700;
}

svg {
  width: 100%;
  height: 100%;
  fill: #5a6674;
  border: none;
}